.dash-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #042955;
  padding: 3px 8px;
  border-radius: 8px;
  margin-top: 10px;
}

.election-box {
  background: #fff;
  background-repeat: no-repeat !important;
  background-position: right bottom;
  background-size: auto 160px;
}
